.food-card {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 410px;
}
.food-card img {
  width: 250px;
}
.food-card:hover {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
